---
import i18n from "@developer-overheid-nl/don-register-components/i18n";
import { t } from "i18next";
import appConfig from "../../app.config";

interface Props {
  type?: string;
  url: string;
  name?: string;
  className?: string;
}
const { type, url, name, className } = Astro.props;

const { i18n: i18nApp } = appConfig;
i18n.addResourceBundle(
  i18n.language,
  "translation",
  i18nApp ? i18nApp[i18n.language] : {},
  true,
  true,
);

/**
 * Repository providers with their logos and alt text
 * key is used in the regex to match from the url
 */
const repoProviders = {
  github: {
    logo: "/logos/github-mark.svg",
    name: "GitHub",
    alt: "GitHub logo",
  },
  gitlab: {
    logo: "/logos/gitlab-logo-500-rgb.svg",
    name: "GitLab",
    alt: "GitLab logo",
  },
  bitbucket: {
    logo: "/logos/bitbucket-mark-brand-rgb.svg",
    name: "Bitbucket",
    alt: "Bitbucket logo",
  },
  azure: {
    logo: "/logos/azure-devops-icon.svg",
    name: "Azure DevOps",
    alt: "Azure DevOps logo",
  },
  codeberg: {
    logo: "/logos/codeberg-logo_icon_blue.svg",
    name: "Codeberg",
    alt: "Codeberg logo",
  },
  forgejo: {
    logo: "/logos/forgejo.svg",
    name: "Forgejo",
    alt: "Forgejo",
  },
};
---

  {Object.entries(repoProviders).map(([key, { logo, alt, name: provider }]) =>
    type === key || url && url.match(new RegExp(key, 'i')) ? (
    <a href={url} target="_blank" rel="noopener noreferrer" class={`repo-link ${className}`} aria-label={t('components.goto-name-on-site', {name: name, site: provider})}>
      <img class={`repo-logo ${key}-logo`} src={logo} alt={alt} width="24" height="24" />
    </a>
    ) : null
  )}

<style>
    .repo-link {
    display: inline-block;
    position: relative;
    place-content: center;
    &:hover::after {
      content: '';
      position: absolute;
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: -1;
    }
  }

  .repo-logo {
    display: block;
    width: 24px;
    height: 24px;
  }

  .gitlab-logo {
    object-fit: cover;
    object-view-box: inset(28% 28% 28% 28%);
  }

  .bitbucket-logo {
    object-fit: cover;
    object-view-box: inset(14% 14% 14% 14%);
  }
</style>