---
import { API_ENDPOINT, API_X_API_KEY, API_VERSION } from "astro:env/client";

import appConfig from "../../app.config";
import { DonOverview } from "@developer-overheid-nl/don-register-layouts";
// import { Search } from "@developer-overheid-nl/don-register-components";

console.log('env', API_ENDPOINT, API_X_API_KEY, API_VERSION, import.meta.env.SSR, import.meta.env.MODE, import.meta.env.SITE);
---
<!--script>
</script-->

<DonOverview appConfig={appConfig} titlePage="Overzicht">
  <script type="module" slot="head" is:inline define:vars={{ API_ENDPOINT, API_X_API_KEY, API_VERSION }}>
    // let db;
    // const request = indexedDB.open("MyTestDatabase");
    // request.onerror = (event) => {
    //   console.error("Why didn't you allow my web app to use IndexedDB?!");
    // };
    // request.onsuccess = (event) => {
    //   console.log("Database opened successfully");
    //   db = event.target.result;
    // console.log('IndexedDB opened:', db);
    // };

    console.log('props', API_X_API_KEY, API_ENDPOINT, API_VERSION);
    const data = await fetch(`${API_ENDPOINT}/${API_VERSION}/apis`, {
      headers: {
        'x-api-key': API_X_API_KEY,
      },
    })
    .then((response) => {
      if (!response.ok) {
        return {
          error: `HTTP error! Status: ${response.status} ${response.statusText}`,
        };
      }

      return response.json();
    }).catch((error) => {
      return { error: error.message };
    });
    
    localStorage.setItem('apiData', JSON.stringify(data));
    localStorage.setItem('apiLastUpdated', new Date().toISOString());
    console.log('Fetched data:', data);
  </script>

  <!-- <div slot="body-start" data-endpoint={API_ENDPOINT} data-api-key={API_X_API_KEY} data-version={API_VERSION} /> -->
    <!-- <Search /> -->
     <div>
      kijk in de console voor de data
       <!-- {data == undefined || data.error ? (
         <p>Error fetching data: {data?.error}</p>
       ) : (
         <pre>{JSON.stringify(data, null, 2)}</pre>
       )} -->
     </div>
</DonOverview>
