---
import {
  API_ENDPOINT,
  API_URL,
  API_VERSION,
  API_X_API_KEY,
  PIWIK_PRO_ACCOUNT_ADDRESS,
  PIWIK_PRO_SITE_ID,
} from "astro:env/server";
import {
  Alert,
  Article,
  CardAsLink,
  CardsList,
  CardsListItem,
  DataBadgeLink,
  Filters,
  getAppearance,
  getDate,
  Heading,
  HeadingGroup,
  IconBadge,
  Markdown,
  Pagination,
  Paragraph,
  PillBadge,
  ScoreBadge,
  Search,
} from "@developer-overheid-nl/don-register-components";
import { PiwikPro } from "@developer-overheid-nl/don-register-components/analytics";
import i18n from "@developer-overheid-nl/don-register-components/i18n";
import {
  DonOverview,
  getPagination,
  getRouting,
  parseHeaders,
} from "@developer-overheid-nl/don-register-layouts";
import { t } from "i18next";
import createClient from "openapi-fetch";
import appConfig from "../../../../app.config";
import { Content as Intro } from "../../../partials/intro.md";
import { ApiPaths, type paths } from "../../../types/api-schema";

Astro.response.headers.set("Cache-Control", "public, max-age=7200");
const { page = 1 } = Astro.params;

const APIS_RESOURCE = ApiPaths.listApis;
const ORGS_RESOURCE = ApiPaths.listOrganisations;
const SEARCH_RESOURCE = ApiPaths.searchApis;
const SEARCH_QUERY_KEY = "q";

const routingObj = getRouting(
  Astro.url,
  Astro.originPathname,
  Astro.routePattern,
  Astro.params,
);

const client = createClient<paths>({
  baseUrl: `${API_URL}/${API_ENDPOINT}/${API_VERSION}`,
});

const {
  data,
  error,
  response: { headers },
} = await client
  .GET(routingObj.query[SEARCH_QUERY_KEY] ? SEARCH_RESOURCE : APIS_RESOURCE, {
    params: {
      query: {
        page: Number(page),
        ...routingObj.query,
      },
    },
    headers: {
      "x-api-key": API_X_API_KEY,
    },
  })
  .catch((error) => {
    console.error(error);
    return { data: null, error, response: new Response() };
  });

const {
  data: filters,
  error: filtersError,
  response: { headers: filtersHeaders },
} = await client
  .GET(ORGS_RESOURCE, {
    headers: {
      "x-api-key": API_X_API_KEY,
    },
  })
  .catch((error) => {
    console.error(error);
    return { data: null, error, response: new Response() };
  });

const paginationObj = parseHeaders(headers);
const pagination = getPagination(paginationObj, routingObj.url);

const outOfBounds = Boolean(
  paginationObj.totalPages && Number(page) > paginationObj.totalPages,
);

const { i18n: i18nApp } = appConfig;
i18n.addResourceBundle(
  i18n.language,
  "translation",
  i18nApp ? i18nApp[i18n.language] : {},
  true,
  true,
);

const isSearchPage = Boolean(routingObj.query[SEARCH_QUERY_KEY]);
const searchObject = isSearchPage
  ? {
      keyword: routingObj.query[SEARCH_QUERY_KEY],
      category: undefined,
      searchCount: paginationObj.totalCount,
    }
  : undefined;
const i18nContext =
  routingObj.query && Object.keys(routingObj.query).length > 0
    ? "filtered"
    : "all";

const items = error ? null : data;
---

<DonOverview appConfig={appConfig} titlePage={t('pages.overview')}>
  <PiwikPro slot="head" client:only="react" 
    accountAddress={PIWIK_PRO_ACCOUNT_ADDRESS} 
    siteId={PIWIK_PRO_SITE_ID} 
    pageTitle={`${t('pages.overview')}: ${t('components.search-results', {context: i18nContext})} | ${appConfig.title}`} 
    isSearchPage={isSearchPage}
    searchObject={searchObject}
  />
  <Article className="markdown-content utrecht-html" slot="header"><Intro /></Article>
  <Search slot="search" searchUrl={new URL(`/apis/zoeken`, routingObj?.url).toString()} searchKey={SEARCH_QUERY_KEY} searchTerm={routingObj.query[SEARCH_QUERY_KEY]}></Search>
  <Filters slot="filters" routing={routingObj} data={filters} headers={filtersHeaders} error={filtersError} />

  <HeadingGroup className="heading-results" title={t('components.search-results', {context: i18nContext})} level={2}>
    <Paragraph role="status">{t('components.search-results-amount', {context: i18nContext, amount: paginationObj.totalCount})}</Paragraph>
  </HeadingGroup>

  { error && (
    <Alert type="error">{(error as unknown as any).message || (error as unknown as any).error_msg || t('components.fuzz-error')}</Alert>
  )}

  { outOfBounds && (
    <Alert type="warning">
      <Heading level={2} appearanceLevel={5}>{t('components.fuzz-error')}</Heading>
      {t('components.pagination-out-of-bounds', {page: page, count: paginationObj.totalPages})}
    </Alert>
  )}

  { items && items.length > 0 ? (
    <CardsList>
      {
        items.map((item, index, array) => (
          <CardsListItem index={index} setsize={array.length}>
            <CardAsLink
              href={new URL(`../${item.id}`, routingObj?.url).toString()}
              linkLabel={t('components.view-details')}
              data-track-content
              data-content-name="Overview Page Card"
            >
              <HeadingGroup slot="heading" title={item.title || 'ðŸ’'} level={2} appearanceLevel={4}>
                <div class="subtitle" slot="subTitle">
                  <Paragraph slot="subTitle" data-content-piece="Organisation Name" itemScope={true} itemType="https://schema.org/Organization" itemID={item.organisation?.uri} className="moveAbove">
                    <span itemprop="name"><DataBadgeLink data-content-target="Organisation Badge" appearance="subtle" className="orgLink" href={new URL(`../?organisation=${item.organisation?.uri}`, routingObj.url).toString()}>
                      {item.organisation?.label}
                    </DataBadgeLink></span>
                  </Paragraph>
                  <div class="header-meta">
                    <IconBadge 
                      className={`moveAbove`} 
                      name={item.lifecycle?.status || 'unknown'} 
                      appearance={getAppearance(item.lifecycle)} 
                      title={t(`components.status-${item.lifecycle?.status}`, {context: getAppearance(item.lifecycle), date: getDate(item.lifecycle)})} 
                      /> 
                    <div class="version">{t('components.version', {version: item.lifecycle?.version})}</div>
                  </div>
              </div>
              </HeadingGroup>
              <div slot="description" class="description utrecht-html"><Markdown text={item.description} openLinksInNewTab allowedElements={['p', 'a', 'ul', 'ol', 'li']} /></div>
              <div slot="metadata" class="meta">
                <PillBadge startValue={`ADR Score`} endValue={item.adrScore} type="percentage" />
              </div>
            </CardAsLink>
          </CardsListItem>
        ))
      }
    </CardsList>
  ) : 
  ( 
    <Alert type="warning">{t('components.no-items-found')}</Alert> 
  )}
  <Pagination slot="pagination" {...pagination} />
</DonOverview>

<style>
  .heading-results {
    padding-inline-start: calc(var(--rhc-card-as-link-border-width, 1px) + var(--rhc-card-as-link-padding-inline-start, 16px));
  }

  .subtitle {
    display: flex;
    justify-content: space-between;
  }

  .header-meta {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }

  .description {
    word-break: break-word;
    
    a:hover {
      text-decoration-line: none;
    }
  }

  .meta {
    place-content: center;
  }

  .version {
    text-decoration: none;
  }

  .orgLink {
    font-size: 0.875rem;
  }
</style>